In [1]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

In [8]:
import plotly
import plotly.express as px
import plotly.offline as py
import plotly.graph_objs as go

In [2]:
# Read recipe inputs
aspects_grouped = dataiku.Dataset("aspect_sentiment_categorised")
df = aspects_grouped.get_dataframe()

In [3]:
def weighted_ave(x):
    d = {}
    d['weighted_ave_nltk'] = (x["mean_polarity_nltk"] * x["count"]).sum() / x["count"].sum()
    d['weighted_ave_tb'] = (x["mean_polarity_textblob"] * x["count"]).sum() / x["count"].sum()
    return pd.Series(d, index=['weighted_ave_nltk', 'weighted_ave_tb'])

In [4]:
df_grouped = df.groupby(["product_id", "group"]).apply(weighted_ave).reset_index()
df_clustered = df.groupby(["product_id", "k_means_clusters"]).apply(weighted_ave).reset_index()

/Users/mmiyazaki/dataiku/Design/DATA_DIR/code-envs/python/python36/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:4315: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  stacked_values = np.vstack(map(np.asarray, values))

In [5]:
# Compute recipe outputs from inputs
# TODO: Replace this part by your actual code that computes the output, as a Pandas dataframe
# NB: DSS also supports other kinds of APIs for reading and writing data. Please see doc.

sentiment_by_companies_df = df_grouped # For this sample code, simply copy input to output

In [6]:
# Write recipe outputs
sentiment_by_companies = dataiku.Dataset("Cat_analysis_by_companies")
sentiment_by_companies.write_with_schema(df_grouped)

KM_analysis_by_companies = dataiku.Dataset("KM_analysis_by_companies")
KM_analysis_by_companies.write_with_schema(df_clustered)

29 rows successfully written (0MMPvbgn4a)
24 rows successfully written (CfrtvC1i1R)

In [7]:
df_grouped

         product_id        group  weighted_ave_nltk  weighted_ave_tb
0        Air France      company           0.029152         0.056715
1        Air France         food          -0.008273         0.024373
2        Air France      luggage           0.038440         0.043454
3        Air France  punctuality           0.152417         0.231861
4        Air France        staff          -0.030908        -0.024106
5   Delta Air Lines      company           0.029557         0.030923
6   Delta Air Lines         food          -0.012003         0.026864
7   Delta Air Lines      luggage           0.034496         0.042701
8   Delta Air Lines  punctuality           0.160352         0.241994
9   Delta Air Lines        staff          -0.014800         0.026104
10         Emirates         food          -0.010285         0.028127
11         Emirates      luggage           0.051665         0.072241
12         Emirates  punctuality           0.363101         0.545598
13         Emirates        staff          -0.000021         0.072348
14        Lufthansa      company           0.056657         0.007087
15        Lufthansa         food           0.016462         0.047253
16        Lufthansa      luggage           0.060339         0.058839
17        Lufthansa  punctuality           0.050098         0.073786
18        Lufthansa        staff           0.013208        -0.058333
19          Ryanair      company           0.015006         0.001799
20          Ryanair         food          -0.044264         0.015426
21          Ryanair      luggage          -0.020937        -0.057769
22          Ryanair  punctuality           0.027800         0.044245
23          Ryanair        staff          -0.008211        -0.045833
24  United Airlines      company           0.022614         0.017148
25  United Airlines         food          -0.017119         0.023592
26  United Airlines      luggage           0.034954         0.043126
27  United Airlines  punctuality           0.161709         0.243209
28  United Airlines        staff          -0.014800         0.026104

In [ ]:
fig_tscore = px.scatter(tsocres_df, x="score_PC1", y="score_PC2")
fig_tscore.show()